<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Verify your Otp</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />

    <style>
        body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            background: #ffffff;
            font-size: 14px;
        }

        .body-wrapper {
            max-width: 680px;
            margin: 0 auto;
            padding: 45px 30px 60px;
            background: #f4f7ff;
            background-image: url(https://www.pnpwebdesign.com/wp-content/uploads/2018/10/business-email.png);
            background-repeat: no-repeat;
            background-size: 800px 452px;
            background-position: top center;
            font-size: 14px;
            color: #434343;
        }

        .main-container {
            margin: 0;
            margin-top: 70px;
            padding: 92px 30px 115px;
            background: #ffffff;
            border-radius: 30px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="body-wrapper">

        <main>
            <div class="main-container">
                <div style="width: 100%; max-width: 489px; margin: 0 auto;">
                    <h1 class="margin: 0; font-size: 24px; font-weight: 500; color: #1f1f1f; text-align: center;">
                        Hey, <%= name %>
                    </h1>
                    <p style=" margin: 0; margin-top: 17px; font-weight: 700; letter-spacing: 0.56px; ">
                        Thank you for registering with us. To activate your account, please use the following activation
                        code:
                    </p>
                    <p
                        style="margin: 0; margin-top:30px; font-size: 40px; font-weight: 600; letter-spacing: 25px; color: #ba3d4f;">
                        <%= otp %>
                    </p>
                    <p style=" margin: 0; margin-top: 30px; font-weight: 700; letter-spacing: 0.56px; ">
                        Do not share this code with others.
                    </p>
                    <p style=" margin: 0; margin-top: 0px; font-weight: 700; letter-spacing: 0.56px; ">
                        code will be valid only for next:
                        <span style=" font-weight: 900; color: #1f1f1f;">
                            5 mins.
                        </span>
                    </p>
                </div>
            </div>

            <p
                style="max-width: 400px; margin: 0 auto; margin-top: 90px; text-align: center; font-weight: 500; color: #8c8c8c">
                Need help? Ask at
                <a href="mailto:support@gmail.com" style="color: #499fb6; text-decoration: none;">support@gmail.com</a>
                or visit our
                <a href="" target="_blank" style="color: #499fb6; text-decoration: none;">Help Center</a>
            </p>
        </main>

    </div>
</body>

</html>